/**
  ============================
   Global
  ============================
*/

:root {
    /* text colors */
    --main-text-cl: #303030;
    --additional-gray-1-text-cl: #555555;
    --additional-gray-2-text-cl: #9DA4BD;
    --while-text-cl: #FFFFFF;
    --accent-cl: #FF6C00;

    /* background colors */
    --black-bg-color: #111319;
    --white-bg-color: #FFFFFF;
    --gray-bg-color: #F7F7F7;

    /* font family */
    --main-font-family: 'Open Sans', sans-serif;
    --additional-font-family: 'Raleway', sans-serif;
}

body {
    font-family: var(--main-font-family);
    font-size: 18px;

    color: var(--main-text-cl);
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.link {
    color: currentColor;
    text-decoration: none;
}

.link:visited,
.link:active {
    color: var(--main-text-cl);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn {
    padding: 12px 20px;


    background-color: transparent;
    border: 1px solid var(--accent-cl);
    border-radius: 25px;
}


/**
  ============================
   Header
  ============================
*/

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(56, 56, 56);
}

.header>.container {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    display: inline-block;
    margin-right: 70px;
}

.logo-svg {
    fill: currentColor;
}

.nav-list {
    display: flex;
}

.header .link:not(.logo):hover {
    color: var(--accent-cl);
}

.header .link:not(.logo) {
    display: inline-block;
    padding: 53px 0;
    font-weight: 600;
    line-height: calc(16/12);
    letter-spacing: 0.1em;
    font-size: 12px;
    color: var(--while-text-cl);
}

.nav-list-item:not(:last-child) {
    margin-right: 30px;
}

.header-group {
    display: flex;
    align-items: center;
}

.header-group-link {
    margin-right: 45px;
}

.header-btn {
    color: var(--while-text-cl);
    cursor: pointer;
}

.header-btn:hover {
    background-color: var(--accent-cl);
}